
.navbar-custom {
  background-color: $eerie;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  .navbar-brand {
    padding-left: 15px;
  }
  .nav_links {
    padding-right: 15px;
  }
}
