// navbar
.navbar-dark .navbar-nav .nav-link {
  font-family: $montserrat;
  font-weight: $regular;
  color: $white;
  opacity: 0.9;
  font-size: $medium;
}

// banner
.banner_title {
  font-family: $montserrat;
  font-size: $xx-large;
  font-weight: $black;
}

// main-casa
.casa_section {
  font-family: $montserrat;
  .casa_section__title {
    font-size: $x-large;
    font-weight: $bold;
  }
  .casa_section__price {
    font-size: $xx-large;
    font-weight: $bold;
    color: $fuzzy;
  }
  .casa_section__subtitle {
    text-decoration: underline;
    font-size: $x-large;
    font-weight: $regular;
  }
  .casa_section__text {
    font-size: $large;
  }
}
.icons {
  .icons_text {
    font-family: $montserrat;
    font-size: $large;
    font-weight: $bold;
  }
}
