// colores
$white: #FFF;
$platinum: #E6E7E7;
$lightgray: #D1D1D1;
$fuzzy: #E56353;
$ruddy: #D76C69;
$spanish: #ECBCBA;
$eerie: #121619;
$raisin: #222323;
$nickel: #6C6E70;
$charlotte: #C5E0DC;
$sky-blue: #83bcef;
$lightcyan: #e0ffff;
// font size
$small: 12px;
$medium: 16px;
$large: 18px;
$x-large: 30px;
$xx-large: 40px;
$xxx-large: 50px;
$xxxx-large: 60px;
// font type - Montserrat
$montserrat: 'Montserrat', sans-serif;
// font weight
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
//
