
.principal {
  padding-top: 20px;
  background-color: $lightcyan;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px;
  .casa_section {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
    padding-top: 20px;
    .casa_section__title {
      padding-bottom: 15px;
    }
    .casa_section__text {
      padding-bottom: 5px;
      text-align: justify;
    }
    .casa_section__subtitle {
      padding-top: 25px;
    }
    .casa_section__price {
      padding-top: 5px;
    }
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 50%;
    padding-bottom: 30px;
    i {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .icons_ico {
      display: flex;
      .icons_text {
        padding-left: 10px;
      }
    }
  }
}
